.gl-new-card {
  margin-top: $gl-spacing-scale-5;
  background-color: var(--gl-background-color-subtle);
  border-width: $gl-border-size-1;
  border-style: solid;
  border-color: $gray-100;
  border-radius: $gl-border-radius-base;

  &-header {
    padding-left: $gl-spacing-scale-5;
    padding-right: $gl-spacing-scale-5;
    padding-top: $gl-spacing-scale-4;
    padding-bottom: $gl-spacing-scale-4;
    display: flex;
    justify-content: space-between;
    background-color: var(--gl-background-color-default);
    border-bottom-width: $gl-border-size-1;
    border-bottom-style: solid;
    border-bottom-color: $gray-100;
    border-top-left-radius: $gl-border-radius-base;
    border-top-right-radius: $gl-border-radius-base;
  }

  &.is-collapsed &-header {
    border-bottom: 0;
    border-radius: $gl-border-radius-base;
  }

  &-title-wrapper {
    display: flex;
    flex-grow: 1;
  }

  &-title {
    display: flex;
    font-size: $gl-font-size;
    font-weight: $gl-font-weight-bold;
    position: relative;
    margin: 0;
    line-height: $gl-line-height-24;
  }

  &-count {
    margin-left: $gl-spacing-scale-3;
    margin-right: $gl-spacing-scale-3;
    font-size: $gl-font-size;
    font-weight: $gl-font-weight-bold;
    color: $gray-500;
    display: inline-flex;
    align-items: center;
  }

  &-description {
    font-size: $gl-font-size-sm;
    color: $gray-500;
    margin: 0;
  }

  &-toggle {
    padding-left: $gl-spacing-scale-3;
    margin-left: $gl-spacing-scale-3;
    margin-right: -$gl-spacing-scale-2;
    border-left-width: $gl-border-size-1;
    border-left-style: solid;
    border-left-color: $gray-100;
  }

  &-body {
    border-bottom-left-radius: $gl-border-radius-base;
    border-bottom-right-radius: $gl-border-radius-base;
    padding-left: $gl-spacing-scale-3;
    padding-right: $gl-spacing-scale-3;
    padding-top: 0;
    padding-bottom: 0;
  }

  &-content {
    padding-left: $gl-spacing-scale-2;
    padding-right: $gl-spacing-scale-2;
    padding-top: $gl-spacing-scale-3;
    padding-bottom: $gl-spacing-scale-3;
  }

  &-empty {
    padding: $gl-spacing-scale-2;
    margin-bottom: 0;
    color: $gray-500;
  }

  &-footer {
    background-color: var(--gl-background-color-default);
  }

  &-add-form {
    padding: $gl-spacing-scale-4;
    margin-top: $gl-spacing-scale-2;
    margin-bottom: $gl-spacing-scale-2;
    background-color: var(--gl-background-color-default);
    border-width: $gl-border-size-1;
    border-style: solid;
    border-color: $gray-100;
    border-radius: $gl-border-radius-base;
  }
}

.gl-new-card-body {
  // Table adjustments
  @mixin new-card-table-adjustments {
    tbody > tr {
      &:first-of-type > td[data-label],
      &:first-of-type > td:first-of-type:last-of-type {
        border-top-width: 0;
      }

      &:last-of-type td:not(:last-of-type) {
        border-bottom-width: $gl-border-size-1;
      }

      > td[data-label] {
        border-left: 0;
        border-left-style: none;
        border-right: 0;
        border-right-style: none;
      }

      > th {
        border-top-width: $gl-border-size-1;
        border-bottom-width: 0;
      }

      &::after {
        background-color: $white;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  table.b-table-stacked-sm,
  table.b-table-stacked-md {
    margin-bottom: 0;

    tr:first-of-type th {
      border-top-width: 0;
    }

    tr:last-of-type td {
      border-bottom-width: 0;
    }
  }

  table.gl-table.b-table.b-table-stacked-sm {
    @include gl-media-breakpoint-down(sm) {
      @include new-card-table-adjustments;
    }
  }

  table.gl-table.b-table.b-table-stacked-md {
    @include gl-media-breakpoint-down(md) {
      @include new-card-table-adjustments;
    }
  }
}
