- if ::Gitlab::Llm::TanukiBot.show_breadcrumbs_entry_point?(user: current_user, container: @group || @project)
  - label = s_('DuoChat|GitLab Duo Chat')
  - chat_disabled_reason = ::Gitlab::Llm::TanukiBot.chat_disabled_reason(user: current_user, container: @group || @project)
  = render Pajamas::ButtonComponent.new(variant: :default,
    category: :secondary,
    icon: 'tanuki-ai',
    size: 'medium',
    button_options: { class: 'js-tanuki-bot-chat-toggle gl-ml-3 gl-hidden md:gl-inline', data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button', chat_disabled_reason: chat_disabled_reason }, aria: { label: label }}) do
    = label
  = render Pajamas::ButtonComponent.new(variant: :default,
    category: :secondary,
    icon: 'tanuki-ai',
    size: 'medium',
    button_options: { class: 'js-tanuki-bot-chat-toggle has-tooltip gl-ml-3 md:gl-hidden', data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button', placement: 'left', chat_disabled_reason: chat_disabled_reason }, aria: { label: label }})
